<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Download Sections</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <div *ngIf="jsonData.length > 0">
    <!-- Row 1: Subjects -->
   
      <!-- Row 1: Subjects -->
    
        <ion-grid>
          <ion-row class="ion-content-border">
            <ion-col size="auto" *ngFor="let subject of jsonData; let subjectIndex = index">
              <ion-button 
                [color]="selectedSubjectIndex === subjectIndex ? 'primary' : 'medium'"
                (click)="selectSubject(subjectIndex)">
                {{ subject.SubjectName }}
              </ion-button>
      
              <!-- Sections Dropdown -->
              <ion-row 
              *ngIf="selectedSubjectIndex === subjectIndex && dropdownOpen"
              class="dropdownbox">
              <div 
                size="auto"
                *ngFor="let section of subject.sections; let sectionIndex = index"
                (click)="selectSection(subjectIndex, sectionIndex)">
                {{ section.SectionName }}
              </div>
            </ion-row>
            
            </ion-col>
          </ion-row>
        </ion-grid>

      

    

    <!-- Section Questions -->
    <div *ngIf="selectedSectionIndex !== null">
      <div *ngFor="let question of selectedSection?.questions">
        <!-- Question Card -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Q{{ question.question_id }} - {{ question.qtype }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img *ngIf="question.questionImgName" [src]="question.questionImgName" alt="Question Image" style="max-width: 100%; margin-bottom: 10px;">
            <!-- <p>{{ question.document_name }}</p> -->

            <div *ngIf="question.options?.length > 0">
              <!-- MCQ -->
              <div *ngIf="question.qtype === 'MCQ'">
                <ion-item *ngFor="let option of question.options"   [ngClass]="{'disabled-item': question.canShowSolution}" [disabled]="question.canShowSolution" (click)="handleAnswer(question.question_id, option.option_index)">
                  <div class="custom-radio">
                    <div
                      class="circle"
                      [ngClass]="{
                        'selected': question.userAnswer?.includes(option.option_index),
                        'correct': question.showResult && question.answer.includes(option.option_index),
                        'wrong': question.showResult && !question.answer.includes(option.option_index) && question.userAnswer?.includes(option.option_index),
                         }">
                      <!-- Conditional Icon -->
                      <ng-container *ngIf="question.showResult">
                        <!-- Show ❌ for incorrect answer -->
                        <ng-container *ngIf="option.option_index === question.userAnswer && !question.isCorrect">
                          ❌
                        </ng-container>
                        <!-- Show ✅ for correct answer -->
                        <ng-container *ngIf="option.option_index === question.answer">
                          ✔️
                        </ng-container>
                      </ng-container>
                      <!-- Display option index when the result is not shown -->
                      <ng-container *ngIf="!question.showResult || (question.showResult && option.option_index !== question.answer && option.option_index !== question.userAnswer)">
    {{ option.option_index }}
  </ng-container>
                      
                    </div>
                  </div>
                  <ion-label >
                    <img [src]="option.optionImgName" alt="Option Image" class="option-image">
                  </ion-label>
                </ion-item>
              </div>
              
              <div *ngIf="question.qtype === 'MSQ'">
                <ion-item *ngFor="let option of question.options" [ngClass]="{'disabled-item': question.canShowSolution}"
                   
                    (click)="!question.canShowSolution && handleMSQAnswer(question.question_id, option.option_index, $event)">
                  <div
                  class="custom-checkbox"
                    

                  >
                    <div
                      class="square"
                      [ngClass]="{
                        selected: question.userAnswer?.includes(option.option_index),
                        correct:
                          question.showResult &&
                          question.answer.includes(option.option_index) &&
                          question.userAnswerWithCorrect?.includes(option.option_index),
                        wrong:
                          question.showResult &&
                          !question.answer.includes(option.option_index) &&
                          question.userAnswer?.includes(option.option_index)
                      }"
                    >
                      <ng-container *ngIf="question.showResult">
                        <ng-container *ngIf="question.answer.includes(option.option_index) &&
                        question.userAnswerWithCorrect?.includes(option.option_index)">
                          ✔️
                        </ng-container>
                        <ng-container *ngIf="!question.answer.includes(option.option_index) &&
                        question.userAnswer?.includes(option.option_index)">
                          ❌
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!question.userAnswerWithCorrect?.includes(option.option_index)">
                        {{ option.option_index }}
                      </ng-container>
                    </div>  </div>
                    <ion-label >
                      <img [src]="option.optionImgName" alt="Option Image" class="option-image">
                    </ion-label>
                
                </ion-item>
              </div>
              
              </div>
              
              <div *ngIf="question.qtype === 'NATI'" class="nati-container">
                <input type="text" [(ngModel)]="question.userAnswer" placeholder="Enter your answer"  [disabled]="question.canShowSolution" />    <p *ngIf="question.canShowSolution">
                  {{ question.isCorrect ? '✔️ ' : '❌ ' }}
                </p>
                
                <ion-button (click)="handleNATAnswer(question.question_id, question.userAnswer)"  [disabled]="question.canShowSolution" class="natsubmit">Submit</ion-button>
                </div>
          

            <!-- Show Solution Button -->
           <ion-button 
  expand="block" 
  color="tertiary" 
  (click)="toggleSolution(question)" 
  [disabled]="!question.canShowSolution">
  {{ question.showSolution ? 'Hide Solution' : 'Show Solution' }}
</ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Solution Display -->
        <ion-card *ngIf="question.showSolution" color="light">
          <ion-card-header>
            <ion-card-subtitle>Result</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p [style.color]="question.isCorrect ? 'green' : 'red'">
              {{ question.isCorrect ? '✔️ Correct!' : '❌ Incorrect!' }}
           
            </p>
            
            <img *ngIf="question.solution" [src]="question.solution" alt="Solution Image" style="max-width: 100%;">
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025 eGRADTutor</ion-title>
  </ion-toolbar>
</ion-footer>