<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      eGRADTutor 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eGRADTutor </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <div class="cardLogoContainer">
      <img src="../../assets/egradtutorLogo.png" alt="egradtutorLogo">
    </div>
      <ion-card-title>eGRADTutor</ion-card-title>
      <ion-card-subtitle>Learning simplified</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      eGRADTutor is an Edtech firm started with a vision to blend the boundaries in education and take best-in-class courses and teachers virtually to every corner of the country. Our courses are developed by the alumni of IIT's/IISc with an intent to enhance the student's abilities to face some of the toughest exams of the country. 
    </ion-card-content>
  
    <div class="ion-text-center">
      <ion-button (click)="goToDownloadPage()">Downloads Page</ion-button>
    </div>
    
 
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2025 eGRADTutor</ion-title>
  </ion-toolbar>
</ion-footer>
